div {

    text-align: center;

    text-align: center;

    text-align: center;
}

.container h1 {
        
        color: red;
}

.container h3 {

 color: green;
}

body {

    background-color: rgb(0, 0, 97);
}



